@model  AdidasNew.Models.EntityModels.countLists

@{
    ViewBag.Title = "DashBorad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Accordion.css" rel="stylesheet" />
@*<script src="/Scripts/jquery-3.3.1.js"></script>*@
<script src="~/Scripts/scriptAccordion.js"></script>

<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

<style>

    .label1 {
        height: 120px;
        margin: 30px;
        padding-top: 30px;
        font-family: 'BTitrBd';
        color: whitesmoke;
        font-size: 20px;
        border-radius: 65px 0px 63px 0px;
        -moz-border-radius: 65px 0px 63px 0px;
        -webkit-border-radius: 65px 0px 63px 0px;
        border: 3px none #000000;
        -webkit-box-shadow: 18px 24px 5px -6px rgba(0,0,0,0.51);
        -moz-box-shadow: 18px 24px 5px -6px rgba(0,0,0,0.51);
        box-shadow: 18px 24px 5px -6px rgba(0,0,0,0.51);
    }
</style>
<aside class="aside">
    <div class="sidebar">
        <div class="sidebar-inner">
            <ul class="sidebar-menu">
                <li class="nav-item">
                    <a href="~/Admin/listnewperson">
                        <ion-icon style="color:orangered" class="icon" name="person-add"></ion-icon> <span>ثبت نام جدید </span>@{ if (Model.NewPerson != 0)
                            { <span class="recheck">@Model.NewPerson </span>}}
                    </a>
                </li>
                <li class="nav-item"> <a href="~/Admin/ListConfirmedPerson"><ion-icon style="color:darkgreen" class="icon" name="checkbox"></ion-icon> <span>تایید صلاحیت شده ها</span>@{ if (Model.ConfirmedPerson != 0)
                    { <span class="recheck">@Model.ConfirmedPerson </span>}}</a></li>
                <li class="nav-item"> <a href="~/Admin/ListNotConfirmedPerson"><ion-icon style="color:darkred" class="icon" name="hand"></ion-icon> <span>رد صلاحیت شده ها </span>@{ if (Model.NotConfirmedPerson != 0)
                    { <span class="recheck">@Model.NotConfirmedPerson </span>}}</a></li>
                <li class="nav-item"> <a href="~/Admin/listnewperson"><ion-icon style="color:darkblue" class="icon" name="contact"></ion-icon> <span>پرسنل </span></a></li>
                <li class="nav-item"> <a href="~/Admin/listnewperson"> <ion-icon style="color:#000000" class="icon" name="walk"></ion-icon><span>اتمام همکاری </span></a></li>
                <li class="nav-item"> <a href="~/Admin/listnewperson"><ion-icon style="color:#ea0404" class="icon" name="close-circle"></ion-icon> <span>اخراج شده ها </span></a></li>
                <li class="nav-item"> <a href="~/UsersAdmin/Index"> <ion-icon style="color:#2e2368" class="icon" name="man"></ion-icon><span>ناظران </span></a></li>
            </ul>
        </div>     
    </div>

</aside>
<section class="section">
 
    <div>
        <div class="row">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a href="/admin/ListConfirmedPerson" style="text-decoration:none;">
                            <div style="background-color:darkgreen; " class="text-center label1 ">
                                <p>  افراد تایید صلاحیت شده</p>
                                <p>@Model.ConfirmedPerson نفر</p>

                            </div>
                        </a>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="/admin/listnewperson" style="text-decoration:none;">
                            <div style="background-color:darkorange" class="text-center label1">
                                <p>افراد بررسی نشده</p>
                                <p>@Model.NewPerson نفر</p>
                            </div>
                        </a>


                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="/UsersAdmin/Index" style="text-decoration:none;">
                            <div style="background-color:rebeccapurple" class="text-center label1">
                                ناظران
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="/admin/ListNotConfirmedPerson" style="text-decoration:none;">
                            <div style="background-color:darkred" class="text-center label1">
                                <p>افراد رد صلاحیت شده</p>
                                <p>@Model.NotConfirmedPerson نفر</p>
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="#" style="text-decoration:none;">
                            <div style="background-color:darkblue" class="text-center label1">
                                کارمندان
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="#" style="text-decoration:none;">
                            <div style="background-color:black" class="text-center label1">
                                افراد مستعفی
                            </div>
                        </a>


                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="#" style="text-decoration:none;">
                            <div style="background-color:red" class="text-center label1">
                                اخراج شده
                            </div>
                        </a>

                    </div>
                </div>
            </div>
                  
         
        </div>
    </div>
</section>



@section scriptss{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#menu").accordion();
            $(".colors a").click(function () {
                if ($(this).attr("class") != "default") {
                    $("#menu").removeClass();
                    $("#menu").addClass("menu").addClass($(this).attr("class"));
                } else {
                    $("#menu").removeClass();
                    $("#menu").addClass("menu");
                }
            });
        });
    </script>

}
