@model AdidasNew.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/myScript.js"></script>
</head>
<body class="loginPage wrapper">


    <div  style="direction: ltr;">
        
        <div class="row">

            <div class="">
                <section class="loginForm" id="loginForm">
                    <h2 style="text-align: center;font-family: 'BTitrBd' !important;color: #0B0B61">صفحه ورود</h2>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*<h4>Use a local account to log in.</h4>*@
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: right;">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-text", @placeholder = "نام کاربری" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>



                        </div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: right;">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control login-text", @placeholder = "رمز عبور" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>



                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="direction: rtl;display: flex;justify-content: center;">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                          
                            
                                    <span style="color: darkgreen;" >مرا به خاطر بسپار</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12" style="display: flex;justify-content: center;">
                                <input type="submit" value="ورود" class="btn btn-default" />
                            </div>
                        </div>

                    }
                </section>
            </div>


        </div>

    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
    @Scripts.Render("~/bundles/jqueryajax")
    <script src="~/Scripts/AjaxForm/jquery.form.js"></script>
    <script src="~/Scripts/Noty/jquery.noty.js"></script>
</body>
</html>
