@model IEnumerable<AdidasNew.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<div style="direction:ltr">
    <h2>User Admin</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table  class="table table-striped table-hover table-bordered ">
        <tr style="background-color:darkgray;">
            <th style="text-align:left; ">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }

    </table>

</div>